* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("jonathan-roger-LY1eyQMFeyo-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content img {
  display: block;
  width: 50%;
  height: 50%;
  box-shadow: 10px 10px 20px #1c1c1c;
  margin-right: 50px;
}

.content audio {
  display: block;
}
